################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VacuumRoom/v15/Server/sqlite3
/.vs/VacuumRoom/v15
/VacuumRoom/bin
/VacuumRoom/obj

